dns_provider = "aws"

app_subdomain = "apps.letsencrypt.aws.ibm-gtmaa.dev"

#letsencrypt_api_endpoint = "https://acme-v02.api.letsencrypt.org/directory"
letsencrypt_email = "your@email.com"

aws_access_key        = "xxxxxxxxxxxxx"
aws_secret_access_key = "xxxxxxxxxxxxx"
