app_subdomain = "apps.letsencrypt.onprem.ibm-gtmaa.dev"

dns_provider = "cloudflare"

#letsencrypt_api_endpoint = "https://acme-v02.api.letsencrypt.org/directory"
letsencrypt_email = "your@email.com"

cloudflare_api_key  = "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
cloudflare_username = "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"

